# DATABASE
KIP_DATABASE_HOST="{{ database_host | default('localhost') }}"
KIP_DATABASE_NAME="{{ database_name }}"
KIP_DATABASE_PASSWORD="{{ database_password }}"


# DJANGO WEB APP
KIP_SECRET_KEY="{{ app_secret_key }}"
DJANGO_SETTINGS_MODULE="test_project.settings"
